.resume{
    padding-top: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 200px;
    height: 200px;
    
}

.h1{
    padding-left: 1rem;
}

.inverser {
    transform: rotate(90deg);
}


