
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 15px;
    line-height: 1.8;
    font-weight: 500;
    text-align: center!important;
    
    padding: 5rem 1rem;
    
    position: fixed;
    
    bottom: 0;
    top: 0;
    left: 0;
    
    width: 20%;
    height: 100%;
   
    border-right: rgb(0, 0, 0) solid;
    background-color: rgb(230, 128, 61);
}

/*
@media only screen and (max-width: 600px) {
    .header {
        width: 25%;
        height: 100%;
    }
  }
*/