
.list{
    display: block;  
    justify-content: center;
    justify-items: center;
    padding: 0; 
    list-style: none;
}

.link{ 
    text-decoration: none;
    border: none;
    background-color: rgb(230, 128, 61);
    margin: 1rem .2rem;  
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.link:hover{
    color: white;
    text-decoration: underline;
}

.link:active{
    color: white;
    text-decoration: underline;
}

.element{
    justify-content: center;
    justify-items: center;
    padding: 0%;
    
}

.reseau{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0%;
}

.img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem .2rem;   
}



