/*@import-normalize;*/

html {
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit
}


.pages{
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(0, 0, 0);
  float: right;
  width: 80%;
  padding: 6rem 6rem;
}

.pages h2{
  font-size: 40px;
  color: rgb(230, 128, 61);
}

.pages p{
  font-size: 30px;
}

.pages label{
  color: rgb(230, 128, 61);
  font-weight: bold;
  font-size: 30px;
}

.pages li{
  list-style: none;
  font-size: 25px;
}

.pages span{
  font-weight: bold;
}

.pages .form-control{
  width: 40rem;
  height: 3rem;
  font-size: 20px;
  padding: .4rem;
  margin-bottom: 1rem;
}

.pages .form-control-textarea {
  width: 40rem;
  max-width: 40rem;
  min-width: 40rem;
  height: 10rem;
  font-size: 20px;
  padding: .4rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}

.pages .bouton{
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(230, 128, 61);
  border: none;
  width: 15rem;
  height: 3rem;
  display: block;
  margin : auto;
  
}

.pages .bouton:hover{
  background-color: rgb(230, 128, 61);
  color: white;
  text-decoration: underline;
}